<mat-card>
    <mat-card-header>
        <mat-card-title>
            <h1>LogIn</h1>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <mat-form-field appearance="fill" class="input-text-form">
                <mat-label>Email</mat-label>
                <input type="text" matInput formControlName="email" [errorStateMatcher]="matcher" placeholder="Ex. gustavus.adolphus@gmail.se"/>
                <mat-error *ngIf= "loginForm.get('email')!.hasError('maxlength') && !loginForm.get('email')!.hasError('required')">Category name cannot be longer than <strong>20 characters</strong></mat-error>
                <mat-error *ngIf= "loginForm.get('email')!.hasError('required')">Category name is <strong>required</strong></mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill" class="input-text-form">
                <mat-label>Password</mat-label>
                <input type="password" matInput formControlName="password" [errorStateMatcher]="matcher" />
                <mat-error *ngIf= "loginForm.get('email')!.hasError('maxlength') && !loginForm.get('email')!.hasError('required')">Category name cannot be longer than <strong>20 characters</strong></mat-error>
                <mat-error *ngIf= "loginForm.get('email')!.hasError('required')">Category name is <strong>required</strong></mat-error>
            </mat-form-field>
            <div class="submit-group">
                <button type="submit" [disabled]="!loginForm.valid" mat-raised-button color="accent">Submit</button>
            </div>
        </form>
    </mat-card-content>
</mat-card>
