<mat-toolbar color="primary" class="mat-elevation-z8">
    <span>
        {{ title }}
    </span>
    <span class="spacer"></span>
    <button mat-mini-fab [matMenuTriggerFor]="menu">
        <mat-icon aria-hidden="true" >person</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <p mat-menu-item disabled>Not Logged in</p>
        <button mat-menu-item>Log In</button>
        <button mat-menu-item>Sign Up</button>
    </mat-menu>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav mode="side" opened class="mat-elevation-z4">
        <mat-nav-list>
            <a routerLink="/categories" routerLinkActive="active" mat-list-item>Categories</a>
            <mat-divider></mat-divider>
            <a routerLink="/permissions" routerLinkActive="active" mat-list-item>Permissions</a>
            <mat-divider></mat-divider>
            <a routerLink="/preview" routerLinkActive="active" mat-list-item>Preview</a>
        </mat-nav-list>
    </mat-sidenav>
    
    <mat-sidenav-container>
        <router-outlet></router-outlet>
    </mat-sidenav-container>   
</mat-sidenav-container>