<div class="content">
    <mat-grid-list cols="2" rowHeight="42.5vh" gutterSize="40px">
        <mat-grid-tile class="mat-elevation-z4">
            <app-selectable-list [categories]="categories" (currentCategoryEvent)="selectCategory($event)" (selectedCountEvent)="setCount($event.valueOf())" (toDeleteCategoriesEvent)="delete($event)" class="fill">
            </app-selectable-list>
        </mat-grid-tile>
        <mat-grid-tile class="mat-elevation-z4">
            <app-categories-form class="fill" [currentCategory]="currentCategory" [inEditMode]="inEditMode" (updatedCategoryEvent)="updateCategory($event)" (addCategoryEvent)="add($event)"></app-categories-form>
        </mat-grid-tile>
        <mat-grid-tile colspan="2" class="mat-elevation-z4">
            <mat-card class="fill">
                <mat-card-header>
                    <mat-card-title>Conections</mat-card-title>
                </mat-card-header>
                <mat-card-content *ngIf="currentCategory._id">
                    {{currentCategory | json}}
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>