<mat-card>
    <mat-card-header>
        <mat-card-title>Categories</mat-card-title>
        <span class="spacer"></span>
        <button mat-mini-fab color="primary" (click)="create()">
            <mat-icon>add</mat-icon>
        </button>
        <button mat-mini-fab color="primary" (click)="selectAll()">
            <mat-icon>check_box_outline_blank</mat-icon>
        </button>
        <button mat-mini-fab color="warn" (click)="deleteSelected()">
            <mat-icon>delete</mat-icon>
        </button>
    </mat-card-header>
    <mat-card-content class="scroll-list-container">
        <mat-selection-list #categoriesList [(ngModel)]="selectedOptions" (ngModelChange)="onNgModelChange($event)" class="scroll-list">
            <cdk-virtual-scroll-viewport class="scrollable scroll-list" [itemSize]=categories.length>
                <mat-list-option *cdkVirtualFor="let category of categories" (click)="selectCategory(category)" [value]="category">
                    <h3 matLine>{{category.text}}</h3>
                </mat-list-option>
            </cdk-virtual-scroll-viewport>
        </mat-selection-list>
    </mat-card-content>
</mat-card>
